* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color: var(--text-primary-color);
    background-color: var(--bg-primary-color);
}
body {
    width: 100%;
    height: 100%;
    font-family: var(--font-roboto);
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    width: 100%;
}
.btn {
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color);
    cursor: pointer;
    font-weight: 500;
    color: #000;
}
#reset-btn {
    background-color: var(--bg-danger-color);
    color:var(--text-primary-color);
    font-size: var(--font-size-mg);
}
#download-btn {
    background-color: var(--bg-success-color);
    color: var(--text-primary-color);
    font-size: var(--font-size-mg);

}
main section {
    width: 100%;
    padding: var(--padding-lg) var(--padding-2xl);
    display: flex;
    flex-direction: row;
    gap: var(--gutter-lg);
}
main section .left {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-lg);
    border-radius: var(--border-radius-xl);
    padding:var(--padding-sm) var(--padding-lg);
    background-color: var(--bg-secondary-color);
}
main section .right{ 
    width: 30%;
    padding: var(--padding-lg);
    border-radius: var(--border-radius-xl);
    background-color: var(--bg-secondary-color);
}

main section .left-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gutter-md);
}
main section .left-bottom {
    width: 100%;
    height: 80vh;
    padding: var(--padding-2xl);
    border: 2px solid red;
    border-radius: var(--border-radius-xl);
    display: flex;
    justify-content: center;
    align-items: center;
}
.placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    gap: var(--gutter-sm);
}
.placeholder i {
    font-size: 10rem;
}
.placeholder p {
    font-size: var(--font-size-lg);
}
/* FILTER SECTION */
section .right {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}
section .right .filter {
    width: 100%;
}
.filters {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}
.filter input[type = "range"] {
    width: 100%;
    outline: none;
    margin-top: var(--margin-sm);
    appearance: none;
    border-radius: 2px;
}

.filter input::-webkit-slider-runnable-track {
    background-color: #d4d2d2;
    height: 4px;
    border-radius: 2px;
}
.filter input::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(255, 251, 18);
    margin-top: -6px;
}