* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-family: var(--font-roboto);
    background-color: var(--bg-primary-color);
}

main {
    width: 100%;
}
.btn {
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color);
    cursor: pointer;
    font-weight: 500;
}
#reset-btn {
    background-color: var(--bg-danger-color);
    color:var(--text-primary-color);
    font-size: var(--font-size-mg);
}
#download-btn {
    background-color: var(--bg-success-color);
    color: var(--text-primary-color);
    font-size: var(--font-size-mg);

}
main section {
    width: 100%;
    padding: var(--padding-2xl);
    border: 2px solid red;
}
main section .left {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
    border: 2px solid rgb(242, 255, 128);
}
main section .left-top {
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}
